*{
	margin: 0;
}
input{
	color: black;
}
tr td:first-child{
	color: white;
}
hr{
	margin: auto;
}
.container{
	/*height: 100vh;*/
	/*width: 100vw;*/
	/*background-color: green;*/
	/*background-image: url(image/background.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	/*background: green url(Lab2_image/background.jpg) center center no-repeat*/
	/*background-size: 100% 100%;*/
	/*position: relative;*/
}
.box-center{
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	width: 500px;
	height: 560px;
	background: #503c57;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.avata{
	margin-top: 20px;
	display: block; 
}
.author{
	color: #ffffff;
	margin: 0.08in;
	font-size: 50px;
	text-align: center;
}
.list-icon{
	margin: 12px;
	width: 500px;
	color: white;
	font-size: 20px;
	text-align: left;
}
.list-icon .icon{
	text-decoration: none;
	float: left;
	margin: 0 5px;
}
.content{
	color: #ffffff;
	font-size: 25pt;
	font-family: 'papyrus', cursive;
	margin-bottom: 0;
	margin-top: 0.05in;  
}
.icon_contact{
	margin-left: 0.1in;
}
#dangKy{
	display: none;
}