li.accType{
    width: 60%; 
    height: 34px;
}
.SelectedLi{
    font-size: 17pt;
    font-weight: bold;
    text-decoration: underline;
}
.avataProfileForm{
    float: left; 
    width: 30%; 
    height: 350px;
    border-right: 1px groove;
    text-align: center; 
}
.FloatRight{
    width: 1259px;
}
.lastLi{
    float: right;
}
.infoProfileForm{
    width: 70%;
    padding-left: 3.3in;
}
.btnselect{
  margin-top: 3px;
  background-color: #76bad354;
  font-size: 15px;
  padding: 3px 14px;
}
.imgAva{
    height: 200px;
    width: 200px;
    /*margin-left: 0.5in;*/
}
.CPInput{
    width: 63%;
    height: 50%;
    padding: 10px 10px;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 10px;
}
.CPLabel{
    color: black;
}
.alignright {
    float: right;
    margin-left: 15px;
}
/*tr td:first-child.cart_item{
    color: black;
}*/
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
form.ProHeight{
    height: auto;
}
div.Border{
    border: 0.1px solid gray;
    border-top: 0;
    border-left: 0; 
}
div.BorderLeft{
    border-left: 0.1px solid gray;
    text-align: center;
    color: red;
}
div.BoderTop{
    border-top: 0.1px solid gray;
}
div.BoderLeft{
    border-left: 0.1px solid gray;
}
div.AutoWidth{
    width: auto;
}
div.LabelBillCode{
    width: 18%;
}
div.BillCode{
    text-decoration: underline; 
    color: blue;
    width: 20%;
}
div.TextAlign{
    text-align: center;
}
div.OldBill{
    height: 120px; 
    overflow-wrap: break-word; 
    display: grid; 
    -webkit-align-items: center;
}
div.LineBtnUpdate{
    width: 800px; 
    padding-top: 1in;
}
div.width12{
    width: 12%;
    text-align: center;
}
div.width18{
    width: 18%;
}
div.width20{
    width: 20%;
}
div.width570{
    width: 570px;
}
div.height50{
    height: 50px;
}
div.ProfileInfo{
    width: 800px; 
    height: 400px; 
    margin-left: 40px;
}
div.Red{
    color: red;
}
span.MoneyShow{
    font-size: 13pt; 
    font-weight: bold; 
    color: red;
}
hr.bold{
    height : 2px;
    border-width : 0;
    color : gray;
    background-color : gray;
}
hr.half{
    height : 2px; 
    background-color : gray; 
    width: 50%;
}
form.height700{
    height: 700px;
}
input.width350{
    width: 350px;
}
input.Profile{
    height: 35px; 
    padding-left: 15px;
}
input.BtnUpdate{
    background-color: #5a88ca; 
    color: white; 
    font-weight: bold; 
    font-size: 17pt; 
    border-radius: 10%; 
    padding: 5px 15px 5px 15px;
}
a.UndLine{
    text-decoration: underline;
    font-size: 12pt;
}